<div>
  <div class="card p-3 mb-3 d-flex flex-column justify-content-start align-items-start" *ngIf="selection.length > 0">
    <p class="m-0 text-muted">Selected:</p>
    <div class="w-100 d-flex flex-row justify-content-between align-items-center">
      <p class="m-0 locale-list-container">
        <span *ngFor="let selected of this.selection" class="ml-1 badge badge-light">
          {{ selected.language }} <span *ngIf="selected.region" class="text-muted text-sm">{{ selected.region }}</span>
          <app-country-flag class="ml-1 text-sm" [locale]="selected"></app-country-flag>
        </span>
      </p>
      <div class="locale-code-list-container">
        <span class="flex-1"></span>
        <span class="ml-1 badge badge-secondary" *ngFor="let selected of this.selection">
          {{ selected.code }}
        </span>
      </div>
    </div>
  </div>
  <div *ngIf="availableLocales().length as localeCount" class="input-group input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="material-icons">search</i></span>
    </div>
    <input
      id="localeSearch"
      name="localeSearch"
      type="text"
      [placeholder]="'Search over ' + localeCount + ' locales...'"
      class="form-control"
      autocomplete="off"
      (keyup)="text$.next($event.target.value)"
    />
  </div>
  <div class="d-flex flex-column">
    <ul class="list-group w-100 mb-2" [ngStyle]="{ 'min-height': preserveHeight ? limit * 50 + 'px' : 0 }">
      <li
        *ngIf="!loading && ((results$ | async) || defaultLocales()).length == 0"
        class="m-0 alert alert-secondary d-flex justify-content-start align-items-center"
      >
        No locales found
      </li>
      <li
        *ngFor="let locale of (results$ | async) || defaultLocales()"
        class="list-group-item list-group-item-action d-flex justify-content-start align-items-center"
        [class.active]="this.isActive(locale)"
        (click)="select(locale)"
      >
        <h5 class="m-0">
          {{ locale.language }} <span *ngIf="locale.region" class="text-muted text-sm">{{ locale.region }}</span>
          <app-country-flag class="ml-1 text-sm" [locale]="locale"></app-country-flag>
        </h5>
        <span class="flex-1"></span> <span class="ml-1 badge badge-secondary">{{ locale.code }}</span>
      </li>
    </ul>
    <div class="d-flex w-100 justify-content-end">
      <p class="text-sm text-muted m-0">
        <span class="font-weight-bold">{{ availableLocales().length }}</span> available locales
      </p>
    </div>
  </div>
</div>
